.cart {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: #fff;
}
.cart .title {
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0.5;
  padding: 20px 0;
  color: #fff;
}
.cart h1 {
  text-align: center;
  text-transform: uppercase;
}
.cart table {
  display: block;
}
.cart table thead {
  display: flex;
  justify-content: space-around;
}
.cart table thead th {
}
.cart tbody tr td {
  display: flex;
  justify-content: space-around;
}
