.form-cart {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  padding: 100px 50px;
}
.pay-method {
}
.pay-method h1 {
  text-align: center;
}
