.product {
  color: #fff;
}
.product h1 {
  text-transform: uppercase;
  text-align: center;
}
.product .title {
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0.5;
  padding: 20px 0;
}
.product .form {
  display: flex;
}
.product .form-food {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product .food {
  margin: 60px 0;
  /* width: 20%; */
}
.product .food img {
  display: block;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.product .food img:hover {
  border: 1px solid orange;
  transform: scale(1.1);
}
.product .food p {
  text-align: center;
  /* padding: 10px 0; */
}
.product .food button {
  display: block;
  margin: 10px auto;
  padding: 7px 20px;
  text-transform: capitalize;
  border-radius: 10px;
}
.product .food button:hover {
  cursor: pointer;
  border: 2px solid blue;
}
