.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.profile .user img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #dfdfdf;
  display: block;
  margin: 0 auto;
}
.profile .user input {
  margin-top: 50px;
}
